.aboutme-container{
    height: 79.5vh;
    max-width: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;

}
.aboutme-header{
    font-size: 2.5em;
    font-weight: bold;
}

.aboutme-p{
    text-align: center;
    font-weight: 500;
}

@media (max-width: 500px){
    .aboutme-container {
        height: 70vh;
    }
    .aboutme-header{
        font-size: 2em;
    }
    .aboutme-p{
        font-size: 0.8em;
    }
}