@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&family=Megrim&display=swap');

.brand{
    font-size: 2em;
    /* font-family: 'Great Vibes', cursive; */
    font-family: 'Lobster', cursive;
    /* font-family: 'Megrim', cursive; */

}
.brand:hover{
    cursor: pointer;
}
.nav-options{
    position: fixed;
    right: 1em;
}